/*SETEO VALORES DEL BODY*/
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif; }

/*INICIO DEL HEADER DE TODAS LAS PAGINAS*/
.navbar {
  height: 95px; }

.barra-navegacion {
  background-color: #4305a8; }

.logocb {
  width: 320px;
  color: #FFF; }

.navbar-nav a {
  color: #FFF;
  font-size: 22px;
  margin-left: 1rem; }
  .navbar-nav a:hover {
    display: flex;
    align-items: center;
    justify-content: end;
    color: #fd63cf; }

/*FIN DEL HEADER*/
/*INCIO SECCION HOLA INDEX*/
.hero-index {
  background-color: #4305a8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin: 0; }

.hola {
  color: #fd63cf;
  font-size: 37px;
  font: bold;
  font-weight: 500;
  letter-spacing: 0.5px;
  height: 40px; }

.nombre {
  color: #FFF;
  font-size: 27px;
  height: 40px; }

.conoce-mas {
  background-color: #4305a8;
  height: 40px; }
  .conoce-mas a {
    color: #fd63cf;
    font-size: 22px;
    text-decoration: none; }
    .conoce-mas a:hover {
      color: #fd63cf;
      transition: 0.5s;
      text-shadow: 0 0 2px #f78ac9, 0 0 15px #f78ac9, 0 0 45px #f78ac9; }

.foto-index {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 35rem;
  min-width: 35rem;
  border-radius: 50%; }

.hero-index p {
  margin-bottom: 0px; }

/*FIN DE LA SECCION HOLA DEL INDEX*/
/*INCIO DE LA SECCION ASIDE*/
.aside-index, .clases {
  background-color: #4305a8;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .aside-index a, .clases a {
    color: #fd63cf;
    font-size: 27px;
    text-decoration: none; }
    .aside-index a:hover, .clases a:hover {
      color: #fd63cf;
      transition: 0.5s;
      text-shadow: 0 0 2px #f78ac9, 0 0 15px #f78ac9, 0 0 45px #f78ac9; }

/*FIN DE LA SECCION ASIDE*/
/*INICIO FOOTER*/
.fotoindex {
  background-color: #4305a8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.copyright {
  font-size: 15px;
  color: #fd63cf;
  margin-bottom: 18px; }

.iconos i {
  color: #FFF;
  font-size: 60px;
  line-height: 60px;
  padding: 1.5rem;
  list-style-type: none; }

/*FIN FOOTER*/
/*INICIO GRID PAGINA ACERCA*/
.col-lg-7 {
  background-color: #4305a8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.presentacion-acerca p {
  color: #FFF;
  font-size: 18px;
  margin: 30px; }

.conoce-mas-acerca {
  background-color: #4305a8;
  height: 40px; }
  .conoce-mas-acerca a {
    color: #fd63cf;
    font-size: 22px;
    text-decoration: none; }
    .conoce-mas-acerca a:hover {
      color: #fd63cf;
      transition: 0.5s;
      text-shadow: 0 0 2px #f78ac9, 0 0 15px #f78ac9, 0 0 45px #f78ac9; }

.col-lg-5 {
  background-color: #4305a8; }

.foto-acerca {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 22rem;
  min-width: 22rem;
  border-radius: 70%; }

/*FIN GRID PAGINA ACERCA*/
/*DEFINO EL GRID PAGINA METODO*/
.col-lg-12 {
  background-color: #4305a8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%; }

.rabine {
  margin-top: 100px;
  color: #fd63cf;
  font-size: 45px;
  font: bold;
  font-weight: 200;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center; }

.metodo-cuerpo p {
  color: #FFF;
  font-size: 18px;
  margin: 30px; }

.contactame-metodo {
  background-color: #4305a8;
  display: flex;
  align-items: center;
  justify-content: right; }
  .contactame-metodo a {
    font-size: 15px;
    color: #FFF;
    text-decoration: none;
    font: bold; }
    .contactame-metodo a:hover {
      color: #fd63cf;
      transition: 0.5s;
      text-shadow: 0 0 7px #fd63cf, 0 0 30px #fd63cf, 0 0 80px #fd63cf; }

/*FIN PAGINA METODO*/
/*DEFINO EL GRID DE LA PAGINA MEDIA*/
.imagenes {
  margin-top: 100px;
  color: #fd63cf;
  font-size: 45px;
  font: bold;
  font-weight: 200;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center; }

.galeria {
  color: #4305a8;
  display: flex;
  align-items: center;
  justify-content: center; }

/*FIN LA PAGINA MEDIA*/
/*DEFINO LOS VALORES PARA LA PAGINA CONTACTO*/
.pagina-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6rem;
  margin-bottom: 5rem;
  flex-direction: column;
  min-height: 70vh; }

.head-contacto {
  margin-top: 100px;
  color: #fd63cf;
  font-size: 45px;
  font: bold;
  font-weight: 200;
  letter-spacing: 0.5px; }

.ubicacion {
  font-size: 25px;
  color: #fd63cf;
  margin-bottom: 18px; }

.horario {
  font-size: 25px;
  color: #FFF;
  margin-bottom: 18px; }

.formulario-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 25px; }

.text-box {
  background: #30014b;
  color: #fd63cf;
  border: none;
  height: 50px;
  padding: 12px;
  font-size: 25px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9; }

.text-message {
  background: #30014b;
  color: #fd63cf;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 25px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
  max-height: 400px; }

.send-btn {
  float: right;
  background: #30014b;
  color: #fd63cf;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  transition: 0.5s;
  transition-property: background;
  cursor: pointer; }
  .send-btn:hover {
    background: #dc89f5;
    box-shadow: 0 0 5px #dc89f5, 0 0 20px #dc89f5, 0 0 60px #dc89f5; }

/*FIN DE LA PAGINA CONTACTO*/
@media (max-width: 430px) {
  .hola, .rabine, .galeria-imagenes, .head-contacto {
    font-size: 20px; }
  .nombre, .clases, .presentacion-acerca, .metodo-cuerpo {
    font-size: 16px; }
  .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario {
    font-size: 11px; }
  .foto-index {
    max-width: 18rem;
    min-width: 18rem; }
  .foto-acerca {
    max-width: 18rem;
    min-width: 18rem; }
  .iconos i {
    color: #FFF;
    font-size: 30px;
    line-height: 30px;
    padding: 0.5rem; } }

@media (min-width: 576px) {
  .hola, .rabine, .galeria-imagenes, .head-contacto {
    font-size: 25px; }
  .nombre, .clases, .presentacion-acerca, .metodo-cuerpo {
    font-size: 20px; }
  .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario {
    font-size: 15px; }
  .foto-index {
    max-width: 20rem;
    min-width: 20rem; }
  .foto-acerca {
    max-width: 18rem;
    min-width: 18rem; }
  .iconos i {
    color: #FFF;
    font-size: 30px;
    line-height: 30px;
    padding: 0.8rem; } }

@media (min-width: 768px) {
  .hola, .rabine, .galeria-imagenes, .head-contacto {
    font-size: 30px; }
  .nombre, .clases, .presentacion-acerca, .metodo-cuerpo {
    font-size: 25px; }
  .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario {
    font-size: 20px; }
  .foto-index {
    max-width: 25rem;
    min-width: 25rem; }
  .foto-acerca {
    max-width: 20rem;
    min-width: 20rem; }
  .iconos i {
    color: #FFF;
    font-size: 40px;
    line-height: 40px;
    padding: 1rem; } }

@media (min-width: 940px) {
  .hola, .rabine, .galeria-imagenes, .head-contacto {
    font-size: 35px; }
  .nombre, .clases, .presentacion-acerca, .metodo-cuerpo {
    font-size: 25px; }
  .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario {
    font-size: 20px; }
  .foto-index {
    max-width: 30rem;
    min-width: 30rem; }
  .foto-acerca {
    max-width: 20rem;
    min-width: 20rem; }
  .iconos i {
    color: #FFF;
    font-size: 50px;
    line-height: 50px;
    padding: 1.2rem; } }

@media (min-width: 1024px) {
  .hola, .rabine, .galeria-imagenes, .head-contacto {
    font-size: 35px; }
  .nombre, .clases, .presentacion-acerca, .metodo-cuerpo {
    font-size: 25px; }
  .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario {
    font-size: 20px; }
  .foto-index {
    max-width: 34rem;
    min-width: 34rem; }
  .foto-acerca {
    max-width: 22rem;
    min-width: 22rem; }
  .iconos i {
    color: #FFF;
    font-size: 60px;
    line-height: 60px;
    padding: 1.5rem; } }

@media (min-width: 1440px) {
  .hola, .rabine, .galeria-imagenes, .head-contacto {
    font-size: 40px; }
  .nombre, .clases, .presentacion-acerca, .metodo-cuerpo {
    font-size: 30px; }
  .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario {
    font-size: 25px; }
  .foto-index {
    max-width: 37rem;
    min-width: 37rem; }
  .foto-acerca {
    max-width: 33rem;
    min-width: 33rem; }
  .iconos i {
    color: #FFF;
    font-size: 60px;
    line-height: 60px;
    padding: 1.5rem; } }
