/*SETEO VALORES DEL BODY*/
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #4305a8; }

/*INICIO DEL HEADER DE TODAS LAS PAGINAS*/
.barra-navegacion {
  background-color: #4305a8; }

.logocb {
  width: 320px;
  color: #FFF; }

.navbar-nav a {
  color: #FFF;
  font-size: 22px;
  margin-left: 1rem; }
  .navbar-nav a:hover {
    display: flex;
    align-items: center;
    justify-content: end;
    color: #fd63cf; }

/*FIN DEL HEADER*/
/*INCIO SECCION HERO-INDEX*/
.hero-index {
  background-color: #4305a8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin: 0; }

.hola {
  color: #fd63cf;
  font-size: 37px;
  font: bold;
  font-weight: 500;
  letter-spacing: 0.5px;
  height: 40px; }

.nombre {
  color: #FFF;
  font-size: 27px;
  height: 40px; }

.conoce-mas {
  background-color: #4305a8;
  height: 40px;
  color: #fd63cf;
  font-size: 22px;
  text-decoration: none; }
  .conoce-mas:hover {
    color: #fd63cf;
    transition: 0.5s;
    text-shadow: 0 0 2px #f78ac9, 0 0 15px #f78ac9, 0 0 45px #f78ac9; }

.foto-index {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 35rem;
  min-width: 35rem;
  border-radius: 50%; }

.hero-index p {
  margin-bottom: 0px; }

/*FIN DE LA SECCION HERO-INDEX*/
/*INCIO DE LA SECCION ASIDE DEL INDEX*/
.aside-index, .clases {
  background-color: #4305a8;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fd63cf;
  font-size: 27px;
  text-decoration: none; }
  .aside-index:hover, .clases:hover {
    color: #fd63cf;
    transition: 0.5s;
    text-shadow: 0 0 2px #f78ac9, 0 0 15px #f78ac9, 0 0 45px #f78ac9; }

/*FIN DE LA SECCION ASIDE DEL INDEX*/
/*INICIO FOOTER*/
.fotoindex {
  background-color: #4305a8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.copyright {
  font-size: 15px;
  color: #fd63cf;
  margin-bottom: 18px; }

.iconos i {
  color: #FFF;
  font-size: 60px;
  line-height: 60px;
  padding: 1.5rem;
  list-style-type: none; }

/*FIN FOOTER*/
/*INICIO PAGINA ACERCA*/
.hero-acerca {
  background-color: #4305a8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin: 0; }

.hola-acerca {
  color: #fd63cf;
  font-size: 30px;
  font: bold;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: 40px; }

.nombre-acerca, .presentacion-acerca {
  color: #FFF;
  font-size: 24px; }

.conoce-mas-acerca {
  margin-top: 30px;
  background-color: #4305a8;
  height: 40px;
  color: #fd63cf;
  font-size: 22px;
  text-decoration: none; }
  .conoce-mas-acerca:hover {
    color: #fd63cf;
    transition: 0.5s;
    text-shadow: 0 0 2px #f78ac9, 0 0 15px #f78ac9, 0 0 45px #f78ac9; }

.col-lg-5 {
  display: flex;
  justify-content: center;
  align-items: center; }

.foto-acerca {
  max-width: 35rem;
  min-width: 35rem;
  border-radius: 50%; }

.aside-acerca, .conoce-mas.acerca {
  background-color: #4305a8;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fd63cf;
  font-size: 27px;
  text-decoration: none; }
  .aside-acerca:hover, .conoce-mas.acerca:hover {
    color: #fd63cf;
    transition: 0.5s;
    text-shadow: 0 0 2px #f78ac9, 0 0 15px #f78ac9, 0 0 45px #f78ac9; }

/*FIN PAGINA ACERCA*/
/*INICIO PAGINA METODO*/
.col-lg-12 {
  background-color: #4305a8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%; }

.rabine {
  color: #fd63cf;
  font-size: 37px;
  font: bold;
  font-weight: 500;
  letter-spacing: 0.5px;
  height: 40px; }

.metodo-cuerpo {
  color: #FFF;
  font-size: 18px;
  margin: 30px; }

.contactame-metodo {
  background-color: #4305a8;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fd63cf;
  font-size: 27px;
  text-decoration: none; }
  .contactame-metodo:hover {
    color: #fd63cf;
    transition: 0.5s;
    text-shadow: 0 0 2px #f78ac9, 0 0 15px #f78ac9, 0 0 45px #f78ac9; }

/*FIN PAGINA METODO*/
/*DEFINO EL GRID DE LA PAGINA MEDIA*/
.imagenes {
  margin-top: 100px;
  color: #fd63cf;
  font-size: 45px;
  font: bold;
  font-weight: 200;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center; }

.galeria {
  color: #4305a8;
  display: flex;
  align-items: center;
  justify-content: center; }

/*FIN LA PAGINA MEDIA*/
/*DEFINO LOS VALORES PARA LA PAGINA CONTACTO*/
.pagina-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  flex-direction: column;
  min-height: 70vh; }

.head-contacto {
  margin-top: 100px;
  color: #fd63cf;
  font-size: 45px;
  font: bold;
  font-weight: 200;
  letter-spacing: 0.5px; }

.ubicacion {
  font-size: 25px;
  color: #fd63cf;
  margin-bottom: 18px; }

.horario {
  font-size: 25px;
  color: #FFF;
  margin-bottom: 18px; }

.formulario-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 25px; }

.text-box {
  background: #30014b;
  color: #fd63cf;
  border: none;
  height: 50px;
  padding: 12px;
  font-size: 25px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9; }

.text-message {
  background: #30014b;
  color: #fd63cf;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 25px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
  max-height: 400px; }

.send-btn {
  float: right;
  background: #30014b;
  color: #fd63cf;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  transition: 0.5s;
  transition-property: background;
  cursor: pointer; }
  .send-btn:hover {
    background: #dc89f5;
    box-shadow: 0 0 5px #dc89f5, 0 0 20px #dc89f5, 0 0 60px #dc89f5; }

/*FIN DE LA PAGINA CONTACTO*/
@media (max-width: 320px) {
  .logocb {
    width: 200px; }
  .myNav a {
    font-size: 12px; }
  .hola, .hola-acerca, .rabine, .galeria-imagenes, .head-contacto {
    font-size: 18px; }
  .nombre, .clases, .nombre-acerca, .presentacion-acerca, .metodo-cuerpo {
    font-size: 12px; }
  .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario, .copyright {
    font-size: 10px; }
  .foto-index {
    max-width: 16rem;
    min-width: 16rem; }
  .foto-acerca {
    max-width: 16rem;
    min-width: 16rem; }
  .iconos i {
    color: #FFF;
    font-size: 30px;
    line-height: 30px;
    padding: 0.5rem; } }

@media (max-width: 375px) {
  .logocb {
    width: 210px; }
  .myNav a {
    font-size: 14px; }
  .hola, .hola-acerca, .rabine, .galeria-imagenes, .head-contacto {
    font-size: 20px; }
  .nombre, .clases, .nombre-acerca, .presentacion-acerca, .metodo-cuerpo {
    font-size: 14px; }
  .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario, .copyright {
    font-size: 12px; }
  .foto-index {
    max-width: 17rem;
    min-width: 17rem; }
  .foto-acerca {
    max-width: 17rem;
    min-width: 17rem; }
  .iconos i {
    color: #FFF;
    font-size: 32px;
    line-height: 32px;
    padding: 0.5rem; } }

@media (min-width: 425px) {
  .logocb {
    width: 220px; }
  .myNav a {
    font-size: 16px; }
  .hola, .hola-acerca, .rabine, .galeria-imagenes, .head-contacto {
    font-size: 22px; }
  .nombre, .clases, .nombre-acerca, .presentacion-acerca, .metodo-cuerpo {
    font-size: 16px; }
  .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario, .copyright {
    font-size: 14px; }
  .foto-index {
    max-width: 18rem;
    min-width: 18rem; }
  .foto-acerca {
    max-width: 18rem;
    min-width: 18rem; }
  .iconos i {
    color: #FFF;
    font-size: 34px;
    line-height: 34px;
    padding: 0.5rem; } }

@media (min-width: 576px) {
  .logocb {
    width: 240px; }
  .myNav a {
    font-size: 18px; }
  .hola, .hola-acerca, .rabine, .galeria-imagenes, .head-contacto {
    font-size: 24px; }
  .nombre, .clases, .nombre-acerca, .presentacion-acerca, .metodo-cuerpo {
    font-size: 18px; }
  .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario, .copyright {
    font-size: 16px; }
  .foto-index {
    max-width: 22rem;
    min-width: 22rem; }
  .foto-acerca {
    max-width: 22rem;
    min-width: 22rem; }
  .iconos i {
    color: #FFF;
    font-size: 36px;
    line-height: 36px;
    padding: 0.5rem; } }

@media (min-width: 768px) {
  .logocb {
    width: 280px; }
  .myNav a {
    font-size: 18px; }
  .hola, .hola-acerca, .rabine, .galeria-imagenes, .head-contacto {
    font-size: 24px; }
  .nombre, .clases, .nombre-acerca, .presentacion-acerca, .metodo-cuerpo {
    font-size: 18px; }
  .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario, .copyright {
    font-size: 16px; }
  .foto-index {
    max-width: 26rem;
    min-width: 26rem; }
  .foto-acerca {
    max-width: 26rem;
    min-width: 26rem; }
  .iconos i {
    color: #FFF;
    font-size: 40px;
    line-height: 40px;
    padding: 0.8rem; } }

@media (min-width: 1024px) {
  .logocb {
    width: 280px; }
  .myNav a {
    font-size: 19px; }
  .hola, .hola-acerca, .rabine, .galeria-imagenes, .head-contacto {
    font-size: 25px; }
  .nombre, .clases, .nombre-acerca, .presentacion-acerca, .metodo-cuerpo {
    font-size: 19px; }
  .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario, .copyright {
    font-size: 17px; }
  .foto-index {
    max-width: 28rem;
    min-width: 28rem; }
  .foto-acerca {
    max-width: 24rem;
    min-width: 24rem; }
  .iconos i {
    color: #FFF;
    font-size: 45px;
    line-height: 45px;
    padding: 1.5rem; } }

@media (min-width: 1440px) {
  .logocb {
    width: 300px; }
  .myNav a {
    font-size: 24px; }
  .hola, .hola-acerca, .rabine, .galeria-imagenes, .head-contacto {
    font-size: 30px; }
  .nombre, .clases, .nombre-acerca, .presentacion-acerca, .metodo-cuerpo {
    font-size: 24px; }
  .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario, .copyright {
    font-size: 22px; }
  .foto-index {
    max-width: 34rem;
    min-width: 34rem; }
  .foto-acerca {
    max-width: 34rem;
    min-width: 34rem; }
  .iconos i {
    color: #FFF;
    font-size: 55px;
    line-height: 55px;
    padding: 1.5rem; } }
