/*SETEO VALORES DEL BODY*/

body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: $colorPrincipal;
}

/*INICIO DEL HEADER DE TODAS LAS PAGINAS*/

.barra-navegacion {
	background-color:$colorPrincipal;
}
.logocb {
	width: 320px;
	color:$colorTerciario;
}
.navbar-nav {
	a {
		color:$colorTerciario;
		font-size: 22px;
		margin-left: 1rem;
		&:hover {
			display: flex;
			align-items: center;
			justify-content: end;
			color:$colorSecundario;

		}
	}
}

/*FIN DEL HEADER*/

/*INCIO SECCION HERO-INDEX*/


.hero-index{
	@include caja-flex(flex, center, center);
	flex-direction: column;
	gap: 40px;
	margin: 0;
}

.hero-index p{
	margin-bottom: 0px;
}

.hola{
	color:$colorSecundario;
    font-size: 37px;
	font: bold;
    font-weight: 400;
    letter-spacing: 0.5px;
	height: 40px;
	
}

.nombre {
	color:$colorTerciario;
	font-size: 27px;
	height: 40px;
}

.conoce-mas{
	height: 40px;
	color:$colorSecundario;
	font-size: 22px;
	text-decoration: none;
	&:hover {
		color:$colorSecundario;
		transition: 0.5s;
		text-shadow: 0 0 2px #f78ac9, 0 0 15px #f78ac9, 0 0 45px #f78ac9;
	}
}


.foto-index {
	@include caja-flex(flex, center, center);
	max-width: 35rem;
    min-width: 35rem;
	border-radius: 50%;
}

/*FIN DE LA SECCION HERO-INDEX*/

/*INCIO DE LA SECCION ASIDE DEL INDEX*/

.aside-index, .clases{
	height: 200px;
	@include caja-flex(flex, center, center);
	color:$colorSecundario;
	font-size: 27px;
	text-decoration: none;
	&:hover {
		color:$colorSecundario;
		transition: 0.5s;
		text-shadow: 0 0 2px #f78ac9, 0 0 15px #f78ac9, 0 0 45px #f78ac9;
	}
	
}

/*FIN DE LA SECCION ASIDE DEL INDEX*/

/*INICIO FOOTER*/

.fotoindex {
	@include caja-flex(flex, center, center);
	flex-direction: column;
	
}
.copyright {
	font-size: 15px;
	color:$colorSecundario;
	margin-bottom: 18px;
}
.iconos {
	i {
	color:$colorTerciario;
	font-size: 60px;
	line-height: 60px;
	padding: 1.5rem;
	list-style-type: none;
	}
}
/*FIN FOOTER*/

/*INICIO PAGINA ACERCA*/

.hero-acerca{
	@include caja-flex(flex, center, center);
	flex-direction: column;
	gap: 40px;
	margin: 0;
}


.hola-acerca{
	color:$colorSecundario;
    font-size: 30px;
	font: bold;
    font-weight: 500;
    letter-spacing: 0.5px;
	margin-top: 40px;
}

.nombre-acerca, .presentacion-acerca{
	color:$colorTerciario;
	font-size: 24px;
}

.conoce-mas-acerca {
	margin-top: 30px;
	height: 40px;
	color:$colorSecundario;
	font-size: 22px;
	text-decoration: none;
	&:hover {
		color:$colorSecundario;
		transition: 0.5s;
		text-shadow: 0 0 2px #f78ac9, 0 0 15px #f78ac9, 0 0 45px #f78ac9;
	}
}

.col-lg-5{
	@include caja-flex(flex, center, center);
}

.foto-acerca {
	max-width: 35rem;
    min-width: 35rem;
	border-radius: 50%;
}

.aside-acerca, .conoce-mas.acerca{
	/*height: 200px;
	@include caja-flex(flex, center, center);
	color:$colorSecundario;
	font-size: 27px;
	text-decoration: none;
	&:hover {
		color:$colorSecundario;
		transition: 0.5s;
		text-shadow: 0 0 2px #f78ac9, 0 0 15px #f78ac9, 0 0 45px #f78ac9;
	}*/
	@extend .aside-index;
}

/*FIN PAGINA ACERCA*/

/*INICIO PAGINA METODO*/

.hero-metodo{
	@include caja-flex(flex, center, center);
	flex-direction: column;
	gap: 40px;
	margin: 0;
	height: 100%;
}

.rabine {
	color:$colorSecundario;
    font-size: 37px;
	font: bold;
    font-weight: 300;
    letter-spacing: 0.5px;
	height: 40px;
	
}
.metodo-cuerpo {
	color:$colorTerciario;
	font-size: 18px;
	margin: 30px;
}

.contactame-metodo {
	height: 200px;
	@include caja-flex(flex, center, center);
	color:$colorSecundario;
	font-size: 27px;
	text-decoration: none;
	&:hover {
		color:$colorSecundario;
		transition: 0.5s;
		text-shadow: 0 0 2px #f78ac9, 0 0 15px #f78ac9, 0 0 45px #f78ac9;
	}
	
}

/*FIN PAGINA METODO*/

/*INICIO DE LA PAGINA MEDIA*/

.hero-media{
	@include caja-flex(flex, center, center);
	flex-direction: column;
	gap: 40px;
	margin: 0;
	height: 100%;
}

.imagenes {
	margin-top: 100px;
	color:$colorSecundario;
	font-size: 45px;
	font: bold;
	font-weight: 200;
	letter-spacing: 0.5px;
	@include caja-flex(flex, center, center);
}
.galeria {
	@include caja-flex(flex, center, center);
	
}
/*FIN LA PAGINA MEDIA*/

/*DEFINO LOS VALORES PARA LA PAGINA CONTACTO*/


.pagina-contacto {
	@include caja-flex(flex, center, center);
	flex-direction: column;
	margin: 0;
	min-height: 70vh;
}
.head-contacto {
	margin-top: 100px;
	color:$colorSecundario;
	font-size: 45px;
	font: bold;
	font-weight: 200;
	letter-spacing: 0.5px;
}
.ubicacion {
	font-size: 25px;
	color:$colorSecundario;
	margin-bottom: 18px;
}
.horario {
	font-size: 25px;
	color:$colorTerciario;
	margin-bottom: 18px;
}
.formulario-contacto {
	@include caja-flex(flex, center, center);
	flex-direction: column;
	color: #fff;
	font-size: 25px;
}
.text-box {
	background:rgb(48, 1, 75);
	color:$colorSecundario;
	border: none;
	height: 50px;
	padding: 12px;
	font-size: 25px;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	opacity: 0.9;
}
.text-message {
	background:rgb(48, 1, 75);
	color:$colorSecundario;
	border: none;
	width: 100%;
	padding: 12px;
	font-size: 25px;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	opacity: 0.9;
	max-height: 400px;
}

.send-btn {
	float: right;
	background:rgb(48, 1, 75);
	color:$colorSecundario;
	border: none;
	width: 120px;
	height: 40px;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 2px;
	border-radius: 5px;
	transition: 0.5s;
	transition-property: background;
	cursor: pointer;
	&:hover {
		background: #dc89f5;
		box-shadow: 0 0 5px #dc89f5, 0 0 20px #dc89f5, 0 0 60px #dc89f5;
	}
}
/*FIN DE LA PAGINA CONTACTO*/



