.barra-navegacion{
    background-color: $color-principal;
}

.col-md-6{
    background-color: $color-principal;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;

    a{
        color: #fff;
        color: #fff;
        font-size: 35px;
        text-decoration: none;
        
        &:hover{
            color: #d6047f;
            transition: 0.5s;
            text-shadow: 0 0 3px #f78ac9,
                        0 0 15px #f78ac9,
                        0 0 45px #f78ac9;
        }
    }
}







