%conoce{
    display: flex;
	align-items: center;
	justify-content: right;
	a {
		font-size: 15px;
		color:$colorSecundario;
		text-decoration: none;
		font: bold;
		margin: 30px;
		&:hover {
			color:$colorSecundario;
			transition: 0.5s;
		text-shadow: 0 0 7px rgb(253, 99, 207), 0 0 30px rgb(253, 99, 207), 0 0    80px rgb(253, 99, 207);
		}
	}
}

