@media(max-width: 320px){
    
    .logocb{
        width: 200px;
    }

    .myNav{
        a{
            font-size: 12px;
        }
    }

    .hola, .hola-acerca, .rabine, .galeria-imagenes, .head-contacto{
        font-size: 18px;
        
    }
    
    .nombre, .clases, .nombre-acerca, .presentacion-acerca, .metodo-cuerpo {
        font-size: 12px;
        
    }
    .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario, .copyright{
        font-size: 10px;
    }
        
    .foto-index{
        max-width: 16rem;
        min-width: 16rem;
    }
    
    .foto-acerca{
        max-width: 16rem;
        min-width: 16rem;
    }

    .iconos{
        i {
            color:$colorTerciario;
            font-size: 30px;
            line-height: 30px;
            padding: 0.5rem;
        }
    }
}

@media(max-width: 375px){
    
    .logocb{
        width: 210px;
    }

    .myNav{
        a{
            font-size: 14px;
        }
    }

    .hola, .hola-acerca, .rabine, .galeria-imagenes, .head-contacto{
        font-size: 20px;
        
    }
    
    .nombre, .clases, .nombre-acerca, .presentacion-acerca, .metodo-cuerpo {
        font-size: 14px;
        
    }
    .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario, .copyright{
        font-size: 12px;
    }
    
    .foto-index{
        max-width: 17rem;
        min-width: 17rem;
    }
    
    .foto-acerca{
        max-width: 17rem;
        min-width: 17rem;
    }

    .iconos{
        i {
            color:$colorTerciario;
            font-size: 32px;
            line-height: 32px;
            padding: 0.5rem;
        }
    }
}



@media(min-width: 425px){
    
    .logocb{
        width: 220px;
    }

    .myNav{
        a{
            font-size: 16px;
        }
    }

    .hola, .hola-acerca, .rabine, .galeria-imagenes, .head-contacto{
        font-size: 22px;
        
    }
    
    .nombre, .clases, .nombre-acerca, .presentacion-acerca, .metodo-cuerpo {
        font-size: 16px;
        
    }
    .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario, .copyright{
        font-size: 14px;
    }
    
    .foto-index{
        max-width: 18rem;
        min-width: 18rem;
    }
    
    .foto-acerca{
        max-width: 18rem;
        min-width: 18rem;
    }

    .iconos{
        i {
            color:$colorTerciario;
            font-size: 34px;
            line-height: 34px;
            padding: 0.5rem;
        }
    }
}

@media(min-width: 576px){
    
    .logocb{
        width: 240px;
    }

    .myNav{
        a{
            font-size: 18px;
        }
    }

    .hola, .hola-acerca, .rabine, .galeria-imagenes, .head-contacto{
        font-size: 24px;
        
    }
    
    .nombre, .clases, .nombre-acerca, .presentacion-acerca, .metodo-cuerpo {
        font-size: 18px;
        
    }
    .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario, .copyright{
        font-size: 16px;
    }
   
    .foto-index{
        max-width: 22rem;
        min-width: 22rem;
    }
    
    .foto-acerca{
        max-width: 22rem;
        min-width: 22rem;
    }

    .iconos{
        i {
            color:$colorTerciario;
            font-size: 36px;
            line-height: 36px;
            padding: 0.5rem;
        }
    }
}

@media(min-width: 768px){
    
    .logocb{
        width: 280px;
    }

    .myNav{
        a{
            font-size: 18px;
        }
    }

    .hola, .hola-acerca, .rabine, .galeria-imagenes, .head-contacto{
        font-size: 24px;
        
    }
    
    .nombre, .clases, .nombre-acerca, .presentacion-acerca, .metodo-cuerpo {
        font-size: 18px;
        
    }
    .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario, .copyright{
        font-size: 16px;
    }
    
    .foto-index{
        max-width: 26rem;
        min-width: 26rem;
    }
    
    .foto-acerca{
        max-width: 26rem;
        min-width: 26rem;
    }

    .iconos{
        i {
            color:$colorTerciario;
            font-size: 40px;
            line-height: 40px;
            padding: 0.8rem;
        }
    }
}

@media(min-width: 1024px){
    
    .logocb{
        width: 280px;
    }

    .myNav{
        a{
            font-size: 19px;
        }
    }
    .hola, .hola-acerca, .rabine, .galeria-imagenes, .head-contacto{
        font-size: 25px;
        
    }
    
    .nombre, .clases, .nombre-acerca, .presentacion-acerca, .metodo-cuerpo {
        font-size: 19px;
        
    }
    
    .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario, .copyright{
        font-size: 17px;
    }

    .foto-index{
        max-width: 28rem;
        min-width: 28rem;
    }

    .foto-acerca{
        max-width: 24rem;
        min-width: 24rem;
    }

    .iconos {
        i {
            color:$colorTerciario;
            font-size: 45px;
            line-height: 45px;
            padding: 1.5rem;
        }
    }
}

@media(min-width: 1440px){
    
    .logocb{
        width: 300px;
    }

    .myNav{
        a{
            font-size: 24px;
        }
    }
    .hola, .hola-acerca, .rabine, .galeria-imagenes, .head-contacto{
        font-size: 30px;
        
    }
    
    .nombre, .clases, .nombre-acerca, .presentacion-acerca, .metodo-cuerpo {
        font-size: 24px;
        
    }
    
    .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario, .copyright{
        font-size: 22px;
    }

    .foto-index{
        max-width: 34rem;
        min-width: 34rem;
    }

    .foto-acerca{
        max-width: 34rem;
        min-width: 34rem;
    }

    .iconos {
        i {
            color:$colorTerciario;
            font-size: 55px;
            line-height: 55px;
            padding: 1.5rem;
        }
    }
}