@media(max-width: 430px){
    .hola, .rabine, .galeria-imagenes, .head-contacto{
        font-size: 30px;
        margin: 5px;
    } 
    
    .nombre, .acerca, .metodo, .presentacion-acerca, .metodo-cuerpo{
        font-size: 20px;
        margin: 5px;
    }
    .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario{
        font-size: 15px;
    }

    .foto-acerca{
        background-image: 0%;
    }
    .foto-index{
        max-width: 22rem;
        min-width: 22rem;
    }
}

@media(min-width: 576px){
    
    .hola, .rabine, .galeria-imagenes, .head-contacto{
        font-size: 30px;
        margin: 10px;
    } 
    
    .nombre, .acerca, .metodo, .presentacion-acerca, .metodo-cuerpo{
        font-size: 20px;
        margin: 10px;
    }

    .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario{
        font-size: 15px;
    }
    .foto-acerca{
        background-image: 0%;
    }
    .foto-index{
        max-width: 30rem;
        min-width: 30rem;
    }
}

@media(min-width: 768px){
    
    .hola, .rabine, .galeria-imagenes, .head-contacto{
        font-size: 35px;
        margin: 15px;
    } 
    
    .nombre, .acerca, .metodo, .presentacion-acerca, .metodo-cuerpo{
        font-size: 25px;
        margin: 15px;
    }

    .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario{
        font-size: 15px;
    }
    .foto-acerca{
        background-image: 50%;
    }
    .foto-index{
        max-width: 38rem;
        min-width: 38rem;
    }
}


@media(min-width: 940px){
    
    .hola, .rabine, .galeria-imagenes, .head-contacto{
        font-size: 40px;
        margin: 20px;
    } 
        
    .nombre, .acerca, .metodo, .presentacion-acerca, .metodo-cuerpo{
        font-size: 30px;
        margin: 20px;
    }
    .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario{
        font-size: 20px;
    }

    .foto-acerca{
        background-image: 60%;
    }
    .foto-index{
        max-width: 46rem;
        min-width: 46rem;
    }
}


@media(min-width: 1024px){
    .hola, .rabine, .galeria-imagenes, .head-contacto{
        font-size: 45px;
        margin: 25px;
    }
    .nombre, .acerca, .metodo, .presentacion-acerca, .metodo-cuerpo {
        font-size: 35px;
        margin: 25px;
    }
    .conoce-mas, .conoce-mas-acerca, .contactame-metodo, .ubicacion, .horario{
        font-size: 25px;
    }

    .foto-acerca{
        background-image: 60%;
    }
    .foto-index{
        max-width: 58rem;
        min-width: 58rem;
    }
}
